__pycache__/
node_modules/
.idea/
core/__pycache__/
core/__pycache__/__init__.cpython-36.pyc
core/__pycache__/main.cpython-36.pyc
core/__pycache__/process.cpython-36.pyc
core/__pycache__/__init__.cpython-36.pyc
core/__pycache__/process.cpython-36.pyc
core/__pycache__/__init__.cpython-36.pyc
